@import 'tailwindcss';

@plugin "daisyui" {
  themes: emerald --default, forest --prefersdark;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .tiptap :first-child {
    @apply mt-0;
  }

  .tiptap ul,
  .tiptap ol {
    @apply px-4 my-5 mr-4 ml-[0.4rem];
  }

  .tiptap ul li p,
  .tiptap ol li p {
    @apply my-1;
  }

  .tiptap h1,
  .tiptap h2,
  .tiptap h3,
  .tiptap h4,
  .tiptap h5,
  .tiptap h6 {
    @apply leading-tight mt-10 text-pretty;
  }

  .tiptap h1,
  .tiptap h2 {
    @apply mt-14 mb-6;
  }

  .tiptap h1 {
    @apply text-4xl;
  }

  .tiptap h2 {
    @apply text-[1.8rem];
  }

  .tiptap h3 {
    @apply text-[1.6rem];
  }
  .tiptap code {
    @apply bg-base-300 rounded-[0.4rem] text-base-content text-[0.85rem] px-[0.3em] py-[0.25em] font-mono;
  }

  .tiptap pre {
    @apply bg-[#1e1e1e] rounded-lg text-[#d4d4d4] font-mono my-6 px-6 py-4;
  }

  .tiptap pre code {
    @apply bg-transparent text-inherit text-[0.9rem] p-0;
  }

  /* Style for code blocks in the editor */
  .ProseMirror pre {
    @apply bg-[#1e1e1e] rounded-lg text-[#d4d4d4] font-mono my-6 px-6 py-4;
  }

  .ProseMirror pre code {
    @apply bg-transparent text-inherit text-[0.9rem] p-0;
  }

  .tiptap mark {
    @apply bg-[#faf594] rounded-[0.4rem] box-decoration-clone px-[0.3rem] py-[0.1rem];
  }

  .tiptap blockquote {
    @apply border-l-[3px] border-[var(--color-neutral-700)] my-6 pl-4;
  }

  .tiptap hr {
    @apply border-0 border-t border-[var(--color-neutral-300)] my-8;
  }

  .tiptap p {
    @apply text-[1.4rem];
  }

  .tiptap pre {
    @apply bg-[var(--black)] rounded-lg text-[var(--white)] font-['JetBrainsMono',_monospace] my-6 px-4 py-3;

    code {
      @apply bg-transparent text-inherit text-[0.8rem] p-0;
    } /* VS Code-like syntax highlighting */
    .hljs-comment,
    .hljs-quote {
      color: #6a9955;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #569cd6;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #4ec9b0;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #ce9178;
    }

    .hljs-title,
    .hljs-section {
      color: #dcdcaa;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #c586c0;
    }

    .hljs-emphasis {
      @apply italic;
    }

    .hljs-strong {
      @apply font-bold;
    }
  }
}
